body {
    text-align: center;
  }
  header,
  footer {
    background-color: rgb(221, 35, 35);
    color: rgba(255, 255, 255, 0.89);
    padding: 10px;
  }
  
  footer {
    font-size: 13px;
    letter-spacing: 1.5pt;
  }
  
  h1,
  h2 {
    margin: 0;
  }
  
  h2,
  #currentdate {
    color: rgb(0, 0, 0);
  }
  
  main {
    margin: 10px auto;
    border: 1px solid #999;
    padding: 10px;
    max-width: 500px;
    background-color: rgb(207, 138, 46);
    box-shadow: 0 0 30px;
  }
  
  h3 {
    font-size: 24px;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgb(117, 18, 18);
    padding: 0;
  }
  
  label {
    display: block;
    margin: 5px;
  }
  